<h1>Enviar arquivo</h1>
<div>
	<div *ngIf="error">
		{{error.message}}
	</div>
	<div *ngIf="uploadResponse.status === 'error'">
		{{uploadResponse.message}}
	</div>
	<div *ngIf="uploadResponse.status === 'progress'">
		<div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
			{{uploadResponse.message}}%
		</div>
	</div>
	
	<form [formGroup]="form" (ngSubmit)="onSubmit()" style="display: flex; flex-direction: row; justify-content: space-between; width: 50%">
		<div style="margin-right: 20px">
			<mat-radio-group aria-label="Protocolo" name="protocol">
				<mat-radio-button value="TCP">TCP</mat-radio-button>
				<mat-radio-button value="UDP">UDP</mat-radio-button>
			</mat-radio-group>
		</div>
		
		<input type="file" name="file" (change)="onFileChange($event)"/>
		
		<button mat-button type="submit">Upload</button>
	</form>
</div>
